<div class="header py-5">
  <div class="container">
      <div class="col-md-6 py-3 text-white">
          <div class="pt-5 pb-3">
              <h1 class="pt-5 pb-1 pr-5">NeoFit</h1>
              <p class="pb-3">Get Neo with experts guidence every step of the way!</p>
          </div>

          <div class="header_btns">
              <!-- <a class="future main-btn-a header-prpl-btn header-prpl-btn-a mr-5">
                  Hit the Track Now
              </a> -->
              <a class="future main-btn-a">
                  Buy
              </a>

          </div>
      </div>
  </div>
</div>
