.header {
  background-image: url("/assets/img/header_bg.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

// .header-prpl-btn-a {
//   border-color: #b8b5ff;
//   color: #b8b5ff;
// }

// .header-prpl-btn{

//     &::after,
//     &::before {
//         border-color: #b8b5ff;
//     }
//     &:hover:after,
//     &:hover:before {
//         border-color: #7868e6;
//     }

//     &:hover{
//         color: #7868e6;
//         border-color: #7868e6;
//     }
// }
