@import '../../../../styles.scss';

.card-flyer {
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);

    &:hover{
        background: #fff;
        box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        margin-top: 50px;
    }

    .image-box{
        background: #ffffff;
        overflow: hidden;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
        border-radius: 5px;

        img{
            transition:all .9s ease; 
            width: 100%;
            height: 200px;
        }
    }

    &:hover .image-box img{
        opacity: 0.7;
        -webkit-transform:scale(1.15);
        -moz-transform:scale(1.15);
        -ms-transform:scale(1.15);
        -o-transform:scale(1.15);
        transform:scale(1.15);
    }

    .text-box{

        .text-container{
            padding: 30px 18px;

            .rate-txt{
                color: rgb(255, 187, 0);
            }
        }

        p{
            margin-bottom: 0px;
            padding-bottom: 0px; 
            font-size: 14px;
            letter-spacing: 1px;
            color: #000000;
        }

        .mentor-name-a {
            margin-top: 0px;
            font-size: 18px;
            font-weight: bold;
            text-transform: capitalize;
            color: $light;

            &:hover{
                color: $darkest;
                text-decoration: underline;
            }
        }
    }
}


.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(255, 217, 0);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(255, 217, 0);
  }