<div class="card-flyer d-flex align-items-stretch">
    <div class="text-box">
        <div class="image-box">
            <a>
                <img [src]="itemData.Photo" alt="" />
                <!-- <div class="middle">
                    <div class="text">{{itemData.Price}}</div>
                </div> -->
            </a>
        </div>
        <div class="text-container">
            <a class="mentor-name-a" placement="bottom" [(ngbTooltip)]="itemData.Name">
                {{itemData.Name}}
            </a>
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9734;</span>&#9734;
                </span>
            </ng-template>
            <div>
                <b class="rate-txt">{{itemData.Rating}} </b>
                <ngb-rating [(rate)]="itemData.Rating" [starTemplate]="t" [readonly]="true">
                </ngb-rating>
            </div>

            <p class="font-weight-bold cat">Category: <span class="font-weight-normal">{{itemData.Category}}</span>
            </p>

            <!-- <p class="font-weight-bold">Specialty: <span class="font-weight-normal">{{itemData.Specialized}}</span>
            </p> -->

            <div class="row mt-3 d-flex justify-content-around align-items-baseline">
                <p class="font-weight-bold price-tag">{{ itemData.Price }}
                </p>
                <a class="main-btn-a mb-2" id="future" (click)="addToShoppingCart(itemData)">
                    Buy Now
                </a>
            </div>
        </div>
    </div>
</div>
