@import "../../../../../styles.scss";

.card-flyer {
  border-radius: 5px;
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);

  &:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }

  &:hover .middle {
    opacity: 1;
  }

  .image-box {
    background: #ffffff;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    position: relative;
    height: 185px;
    width: 100%;

    img {
      transition: all 0.9s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  // .middle {
  //   transition: 0.5s ease;
  //   opacity: 0;
  //   position: absolute;
  //   top: 9%;
  //   right: -9%;
  //   transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   text-align: center;
  // }

  // .text {
  //   background-color: $light-clr;
  //   color: $darkest;
  //   font-size: 20px;
  //   font-weight: 600;
  //   padding: 3px 5px;
  // }

  // &:hover .image-box img {
  //   opacity: 0.7;
  //   -webkit-transform: scale(1.15);
  //   -moz-transform: scale(1.15);
  //   -ms-transform: scale(1.15);
  //   -o-transform: scale(1.15);
  //   transform: scale(1.15);
  // }

  .text-box {
    .text-container {
      padding: 15px 18px;

      p {
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #000000;
      }

      .mentor-name-a {
        margin-top: 0px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        color: $darkest;
        display: inline-block;
        white-space: nowrap;
        word-wrap: break-word;
        max-width: 174px;
        width:100%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        &:hover {
          color: $light-clr;
          text-decoration: underline;
        }
      }

      .rate-txt {
        color: rgb(255, 187, 0);
      }

      .price-tag{
        font-size: 1.3rem;
      }
    }
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: rgb(255, 217, 0);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(255, 217, 0);
}
