<div class="courses py-5">
  <h2 class="mb-3 text-center">Meet our guiders</h2>
  <div class="container d-flex justify-content-between">
      <div class="card" style="width: 18rem;">
          <!-- <div class="position-absolute">
              <img src="/assets/img/trainer.jpg" class="rounded-circle w-50 position-relative top-100 left-100">
          </div> -->
          <img src="/assets/img/trainer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <!-- <div class="position-absolute">
              <img src="/assets/img/trainer.jpg" class="rounded-circle w-50 position-relative top-100 left-100">
          </div> -->
          <img src="/assets/img/trainer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <!-- <div class="position-absolute">
              <img src="/assets/img/trainer.jpg" class="rounded-circle w-50 position-relative top-100 left-100">
          </div> -->
          <img src="/assets/img/trainer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Trainer</h5>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, aspernatur.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </div>
</div>
