<section class="py-5">

  <div class="container pb-5">
    <h2 class="text-center text-muted">Doctors</h2>

    <ul class="list-inline text-center">
      <li class="list-inline-item"><button
          (click)="show.allDoctors = !show.allDoctors; show.goldDoctors = false; show.silverDoctors = false; show.bronzeDoctors = false"
          class="btn btn-info">All</button></li>
      <li class="list-inline-item"><button
          (click)="show.goldDoctors = !show.goldDoctors; show.allDoctors = false; show.silverDoctors = false; show.bronzeDoctors = false"
          class="btn btn-info">Gold</button></li>
      <li class="list-inline-item"><button
          (click)="show.silverDoctors = !show.silverDoctors; show.allDoctors = false; show.goldDoctors = false; show.bronzeDoctors = false"
          class="btn btn-info">Silver</button></li>
      <li class="list-inline-item"><button
          (click)="show.bronzeDoctors = !show.bronzeDoctors; show.allDoctors = false; show.goldDoctors = false; show.silverDoctors = false"
          class="btn btn-info">Bronze</button></li>
    </ul>

    <div class="row" *ngIf="show.allDoctors">
      <div *ngFor="let doctor of doctorsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="doctor"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="show.goldDoctors">
      <div *ngFor="let doctor of goldDoctorsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="doctor"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="show.silverDoctors">
      <div *ngFor="let doctor of silverDoctorsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="doctor"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="show.bronzeDoctors">
      <div *ngFor="let doctor of bronzeDoctorsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="doctor"></app-mentor-card>
      </div>
    </div>

  </div>

  <div class="container pb-5">

    <h2 class="pt-5 text-center text-muted">Trainers</h2>

    <ul class="list-inline text-center">
      <li class="list-inline-item"><button
          (click)="display.allTrainers = !display.allTrainers; display.goldTrainers = false; display.silverTrainers = false; display.bronzeTrainers = false"
          class="btn btn-info">All</button></li>
      <li class="list-inline-item"><button
          (click)="display.goldTrainers = !display.goldTrainers; display.allTrainers = false; display.silverTrainers = false; display.bronzeTrainers = false"
          class="btn btn-info">Gold</button></li>
      <li class="list-inline-item"><button
          (click)="display.silverTrainers = !display.silverTrainers; display.allTrainers = false; display.goldTrainers = false; display.bronzeTrainers = false"
          class="btn btn-info">Silver</button></li>
      <li class="list-inline-item"><button
          (click)="display.bronzeTrainers = !display.bronzeTrainers; display.allTrainers = false; display.goldTrainers = false; display.silverTrainers = false"
          class="btn btn-info">Bronze</button></li>
    </ul>

    <div class="row" *ngIf="display.allTrainers">
      <div *ngFor="let trainer of trainersList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="trainer"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="display.goldTrainers">
      <div *ngFor="let trainer of goldTrainersList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="trainer"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="display.silverTrainers">
      <div *ngFor="let trainer of silverTrainersList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="trainer"></app-mentor-card>
      </div>
    </div>

    <div class="row" *ngIf="display.bronzeTrainers">
      <div *ngFor="let trainer of bronzeTrainersList" class="col-lg-3 col-sm-6 col-10 mx-auto">
        <app-mentor-card [itemData]="trainer"></app-mentor-card>
      </div>
    </div>




  </div>

</section>
