<section class="py-5">

    <div class="container pb-5" style="width: 95%;">

        <h2 class="pt-5 text-center">Supplements</h2>

        <ul class="list-inline text-center">
            <li class="list-inline-item"><button
                    (click)="show.allItems = !show.allItems; show.proteinItems = false; show.vitaminItems = false; show.fatLossItems = false; show.creatineItems = false"
                    class="btn btn-info">All</button></li>
            <li class="list-inline-item"><button
                    (click)="show.proteinItems = !show.proteinItems; show.allItems = false; show.vitaminItems = false; show.fatLossItems = false; show.creatineItems = false"
                    class="btn btn-info">Proteins</button></li>
            <li class="list-inline-item"><button
                    (click)="show.vitaminItems = !show.vitaminItems; show.allItems = false; show.proteinItems = false; show.fatLossItems = false; show.creatineItems = false"
                    class="btn btn-info">Vitamins</button></li>
            <li class="list-inline-item"><button
                    (click)="show.fatLossItems = !show.fatLossItems; show.allItems = false; show.proteinItems = false; show.vitaminItems = false; show.creatineItems = false"
                    class="btn btn-info">Fat Loss</button></li>
            <li class="list-inline-item"><button
                    (click)="show.creatineItems = !show.creatineItems; show.allItems = false; show.proteinItems = false; show.vitaminItems = false; show.fatLossItems = false"
                    class="btn btn-info">Creatine</button></li>
        </ul>

        <div class="row" *ngIf="show.allItems">
          <div *ngFor="let item of itemsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
            <app-item-card [itemData]="item"></app-item-card>
          </div>
        </div>

        <div class="row" *ngIf="show.proteinItems">
          <div *ngFor="let item of proteinItemsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
            <app-item-card [itemData]="item"></app-item-card>
          </div>
        </div>

        <div class="row" *ngIf="show.vitaminItems">
          <div *ngFor="let item of vitaminItemsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
            <app-item-card [itemData]="item"></app-item-card>
          </div>
        </div>

        <div class="row" *ngIf="show.fatLossItems">
          <div *ngFor="let item of fatLossItemsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
            <app-item-card [itemData]="item"></app-item-card>
          </div>
        </div>

        <div class="row" *ngIf="show.creatineItems">
          <div *ngFor="let item of creatineItemsList" class="col-lg-3 col-sm-6 col-10 mx-auto">
            <app-item-card [itemData]="item"></app-item-card>
          </div>
        </div>

    </div>

</section>
