<section class="card-color py-5">
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <h2 class="text-center">Check Our Courses </h2>
            <div class="row">
                <div *ngFor="let topRated of topRatedList;" class="col-sm-6 col-md-3">
                    <app-card [itemData]="topRated"></app-card>
                </div>
            </div>
            <div class="seeMore-btn mt-5">
                <a class="effect1"  [routerLink]="'/courses'">
                    Check All Courses
                    <span class="bg"></span>
                </a>
            </div>
        </div>
    </div>
</section>
