<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<section class="container my-4 py-4">
  <h2 class="text-center pt-5">Fill out your physical info</h2>
  <div class="row">
    <div class="my-4 col-md-6 col-12">
      <mat-vertical-stepper [linear]=" isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter your height</ng-template>
            <mat-form-field>
              <mat-label>Height</mat-label>
              <input matInput placeholder="cm" formControlName="firstCtrl" required />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Enter your weight">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>weight</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="kg" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Enter your gender">
          <form [formGroup]="thirdFormGroup">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <input matInput formControlName="thirdCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="forthFormGroup" label="Enter your age">
          <form [formGroup]="forthFormGroup">
            <mat-form-field>
              <mat-label>age</mat-label>
              <input matInput formControlName="forthCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>please finish your payment details</p>
          <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            <!-- <button class="btn btn-primary">Choose your payment method</button> -->
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div class="container my-5 d-flex justify-content-center align-items-center  col-md-6 col-12">
      <div class="row">
        <article class="card">

          <div class="card-header text-center bg-white">
            <div class="card-logos ">
              <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" />
              <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" />
            </div>
          </div>
          <div class="card-body ">
            <form #checkOutForm="ngForm" (ngSubmit)="userCheckOutForm(checkOutForm.value)">
              <div class="form-group">
                <label for="username">Full name (on the card)</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="username" id="username" required ngModel
                    #username="ngModel" />
                </div>
              </div>
              <div *ngIf="username.errors && username.submitted" class="alert alert-danger">
                <div *ngIf="username.errors.required">This Field Is Required</div>
              </div>
              <div class="form-group">
                <label for="cardNumber">Card number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                  </div>
                  <input type="text" class="form-control" name="cardNumber" id="cardNumber" required minlength="4"
                    ngModel #cardNumber="ngModel" />
                </div>
              </div>
              <div *ngIf="cardNumber.errors && cardNumber.submitted" class="alert alert-danger">
                <div *ngIf="cardNumber.errors.required">This Field Is Required</div>
                <div *ngIf="cardNumber.errors.minlength">This Field Is 8</div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label><span class="hidden-xs">Expiration Date</span> </label>
                    <div class="form-inline">
                      <select class="form-control" style="width:45%">
                        <option value="01">January</option>
                        <option value="02">February </option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <span style="width:10%; text-align: center"> / </span>
                      <select class="form-control" style="width:45%">
                        <option value="16"> 2022</option>
                        <option value="17"> 2023</option>
                        <option value="18"> 2024</option>
                        <option value="19"> 2025</option>
                        <option value="20"> 2026</option>
                        <option value="21"> 2027</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label data-toggle="tooltip" title=""
                      data-original-title="3 digits code on back side of the card">CVV
                      <i class="fa fa-question-circle"></i></label>
                    <input class="form-control" required="" type="text">
                  </div>
                </div>
              </div>
              <button class="subscribe mt-2 btn btn-primary btn-block" type="submit"
                (click)="openVerticallyCentered(content)"> Confirm </button>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <!-- <h4 class="modal-title">Modal title</h4> -->
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <P>You have successfully contracted with your mentor,
                    please go to your profile to start your conversation
                  </P>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" [routerLink]="'/client'"
                    (click)="modal.close('Close click')">OK</button>
                </div>
              </ng-template>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>



