<section class="pt-5">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="profile-img mb-5">
          <img class="border" [src]="mentor.Photo" alt="alt" />
          <!-- <div class="my-5">
            <a class="main-btn-a" id="future" name="btnAddMore" (click)="toCheckout()" type="button">
              Hire Now
            </a>
          </div> -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-head">
          <div class="d-flex justify-content-between">
            <div>
              <h2>{{ mentor.Name}}</h2>
              <p class="text-secondary">{{ mentor.Specialized}}, {{ mentor.Category }} category.</p>
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9734;</span>&#9734;
                </span>
              </ng-template>
              <div>
                <b class="rate-txt">{{ mentor.Rating }} </b>
                <ngb-rating [(rate)]="mentor.Rating" [starTemplate]="t" [readonly]="true">
                </ngb-rating>
                <span class="text-secondary"> (342)</span>
              </div>
            </div>
            <div class="my-5">
              <a class="main-btn-a" id="future" name="btnAddMore" (click)="hireTheMentor(mentor)" type="button">
                Hire Now
              </a>
            </div>
          </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link link-color active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-color" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>Kshiti123</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>Kshiti Ghelani</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>kshitighelani@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Profession</label>
              </div>
              <div class="col-md-6">
                <p>Web Developer and Designer</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Experience</label>
              </div>
              <div class="col-md-6">
                <p>Expert</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Hourly Rate</label>
              </div>
              <div class="col-md-6">
                <p>10$/hr</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Total Projects</label>
              </div>
              <div class="col-md-6">
                <p>230</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>English Level</label>
              </div>
              <div class="col-md-6">
                <p>Expert</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Availability</label>
              </div>
              <div class="col-md-6">
                <p>6 months</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Your Bio</label><br />
                <p>Your detail description</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-8 offset-md-4">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <p>Sint dolore reprehenderit officia officia nostrud ullamco nostrud excepteur. Non fugiat culpa et ea
                laboris aliqua. Nisi aute consectetur voluptate enim sint officia.</p>

              <p>Voluptate duis duis minim enim id magna commodo amet. Cupidatat ea cupidatat voluptate ut velit laborum
                irure laborum. Excepteur elit consectetur aliqua aliqua.</p>

              <p>In sit labore consequat veniam dolor. Aliquip ad exercitation cillum est proident. Nisi nostrud ut aute
                aute qui officia. Cupidatat magna anim mollit laboris labore dolore ullamco quis ad sit.</p>

              <p>Ut ea consequat adipisicing ullamco elit qui velit ipsum nisi eu. Eiusmod voluptate magna et Lorem amet
                elit do et consectetur consectetur ex. Cupidatat consequat commodo dolore adipisicing et cupidatat elit
                tempor consequat tempor. Deserunt reprehenderit minim eu eu exercitation sit est commodo sit cupidatat
                ut quis tempor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
