@import "../../../../styles.scss";

.nav-link {
  color: #ffffff !important;
}

nav {
  transition: 0.5s;

  form {
    select {
      background-color: #99a8b2;
      color: #fff;
      border-color: #99a8b2;
    }
    input {
      background-color: rgba(255, 255, 255, 0.664);

      &:focus {
        background-color: #fff;
      }

      &:focus .search-btn {
        color: $light;
      }
    }

    .search-btn {
      color: $dark;
      position: relative;
      right: 48px;

      &:hover {
        background-color: transparent;
      }
    }
  }
  a {
    div {
      button {
        background-color: #99a8b2;
        color: #fff;
        border-color: #99a8b2;
      }
      div {
        button {
          background-color: #99a8b2;
          color: #fff;
          border-color: #99a8b2;
        }
        div {
          background-color: #99a8b2;
          color: #fff;
          border-color: #99a8b2;
        }
      }
    }
  }
}

.fixed {
  background-color: $darkest;
}
