@import "../../../../styles.scss";

.nav-link {
  font-size: small;
  color: #fff !important;
  transition: 0.5s;
  padding: 0.5rem 0.3rem;

  &:hover {
    color: $light-clr !important;
  }
}

.user {
  transition: 0.5s;
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  &:hover {
    background-color: #345858;
  }
}

nav {
  transition: 0.5s;

  form {
    position: relative;
    select {
      background-color: #99a8b2;
      color: #fff;
      border-color: #99a8b2;
    }
    input {
      background-color: rgba(255, 255, 255, 0.664);

      &:focus {
        background-color: #fff;
      }

      &:focus .search-btn {
        color: $light;
      }
    }

    .search-btn {
      color: $dark;
      position: absolute;
      left: 165px;

      &:hover {
        background-color: transparent;
      }
    }
  }
  a {
    div {
      button {
        background-color: #99a8b2;
        color: #fff;
        border-color: #99a8b2;
      }
      div {
        button {
          background-color: #99a8b2;
          color: #fff;
          border-color: #99a8b2;
        }
        div {
          background-color: #99a8b2;
          color: #fff;
          border-color: #99a8b2;
        }
      }
    }
  }
}

.fixed {
  background-color: $darkest;
}

// Mobile

@media (min-width: 320px) and (max-width: 426px) {
  nav {
    form {
      .search-btn {
        color: $dark;
        position: absolute;
        right: 0;
        left: unset;
        top: -6px;
      }
    }
  }
}

// Tablet

@media (min-width: 426px) and (max-width: 575px) {
  nav {
    form {
      .search-btn {
        color: $dark;
        position: absolute;
        right: 0;
        top: -6px;
        left: unset;
      }
    }
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  nav {
    form {
      .search-btn {
        color: $dark;
        position: absolute;

      }
    }
  }
}
