<section class="card-color py-5">
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <h2 class="text-center">Our Top Mentors</h2>
            <div class="text-center mt-3">
                <app-categories-modal></app-categories-modal>
            </div>
            <div class="row">
                <div *ngFor="let topMentor of topMentorsList" class="col-sm-6 col-md-3">
                    <app-mentor-card [itemData]="topMentor"></app-mentor-card>
                </div>

                <!-- <div *ngFor="let xId of x;" class="col-xs-12 col-sm-6 col-md-3 col-md-3">
                  <app-mentor-card [xId]="xId"></app-mentor-card>
              </div> -->
            </div>
            <div class="seeMore-btn mt-5">
                <a class="effect1" [routerLink]="'/mentors'">
                    Check All Mentors
                    <span class="bg"></span>
                </a>
            </div>
        </div>
    </div>
</section>