/* You can add global styles to this file, and also import other style files */
$darkest: #1c2b2d;
$dark: #1f6f8b;
$light: #99a8b2;
$lightest: #e6d5b8;


body {
    background: white !important;

    .header-txt{
        font-size: 3rem;
    }

    h1{
        font-size: 5rem;
    }

    .main-btn-a {
        padding: 0.8rem 2rem;
        font-weight: 500;
        font-size: 1.15rem;
        position: relative;
        border: 2px solid $dark;
        color: $dark;
        background-color: transparent;
        text-align: center;

        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
    .future {

        transition: 0.5s ease;

        &:hover{
            color: white;
            cursor: pointer;
            text-decoration: none;
            background-color: $dark;
        }
    }

    .seeMore-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50%;
        
        .effect1 {
          color: $light;
          text-decoration: none;
          font-family: sans-serif;
          font-size: 0.4rem;
          position: relative;
          padding: 10px 50px 10px 20px;
        
          -webkit-transition: all 0.3s;
        
          -o-transition: all 0.3s;
        
          transition: all 0.3s;
        
          -webkit-transform: scale(3);
        
              -ms-transform: scale(3);
        
                  transform: scale(3); /*change scale(3) to scale(1)*/
    
                  & .bg {
                    background: $light;
                    width: 9px;
                    height: 1px;
                    position: absolute;
                    right: 38px;
                    top: 53%;
                    margin-top: -1px;
                    z-index: -1;
                  
                    -webkit-transition: all 0.3s;
                  
                    -o-transition: all 0.3s;
                  
                    transition: all 0.3s;
                  }
                  
                  &:hover {
                    padding-right: 20px;
                    color: #fff;
                  }
                  
                  &:hover .bg {
                    height:70%;
                    width: 70%;
                    // -webkit-transform: translate(0, -50%);
                    //     -ms-transform: translate(0, -50%);
                            transform: translate(39%, -50%);
                  }
                  
                  & .bg:before, & .bg:after {
                    content: '';
                    height: 1px;
                    width: 6px;
                    background: $light;
                    position: absolute;
                    right: -1px;      
                    -webkit-transition: all 0.3s;      
                    -o-transition: all 0.3s;      
                    transition: all 0.3s;
                  }
                  
                  & .bg:before {
                    bottom: 2px;
                    -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                  }
                  & .bg:after{
                    top: 2px;
                    -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                  }
                  
                  &:hover .bg:before,
                  &:hover .bg:after{
                    right: 0;
                  }
                  
                  &:hover .bg:before{
                    bottom: 6px;
                  }
                  
                  &:hover .bg:after{
                    top: 6px;
                  }
        }  
      }
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
