
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$graduation-primary: mat-palette($mat-indigo);
$graduation-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$graduation-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$graduation-theme: mat-light-theme((
  color: (
    primary: $graduation-primary,
    accent: $graduation-accent,
    warn: $graduation-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($graduation-theme);

/* You can add global styles to this file, and also import other style files */
$darkest: #1c2b2d;
$dark-clr: #1f6f8b;
$light-clr: #99a8b2;
$lightest: #e6d5b8;


body {
    background: white !important;

    .header{
      .header-txt{
        font-size: 1rem;
      }

      h1{
        font-size: 5rem;
      }
    } 

    .rate-txt{
      color: rgb(221, 162, 36);
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(255, 217, 0);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(255, 217, 0);
  }

    .main-btn-a {
        padding: 0.8rem 2rem;
        font-weight: 500;
        font-size: 1.15rem;
        position: relative;
        border: 2px solid $dark-clr;
        color: $dark-clr;
        background-color: transparent;
        text-align: center;

        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
    
    #future {

        transition: 0.5s ease;
        color: $dark-clr;

        &:hover{
            color: white;
            cursor: pointer;
            text-decoration: none;
            background-color: $dark-clr;
        }
    }

    .seeMore-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50%;
        
        .effect1 {
          color: $light-clr;
          text-decoration: none;
          font-family: sans-serif;
          font-size: 0.4rem;
          position: relative;
          padding: 10px 50px 10px 20px;
        
          -webkit-transition: all 0.3s;
        
          -o-transition: all 0.3s;
        
          transition: all 0.3s;
        
          -webkit-transform: scale(3);
        
              -ms-transform: scale(3);
        
                  transform: scale(3); /*change scale(3) to scale(1)*/
    
                  & .bg {
                    background: $light-clr;
                    width: 9px;
                    height: 1px;
                    position: absolute;
                    right: 38px;
                    top: 53%;
                    margin-top: -1px;
                    z-index: -1;
                  
                    -webkit-transition: all 0.3s;
                  
                    -o-transition: all 0.3s;
                  
                    transition: all 0.3s;
                  }
                  
                  &:hover {
                    padding-right: 20px;
                    color: #fff;
                  }
                  
                  &:hover .bg {
                    height:70%;
                    width: 70%;
                    // -webkit-transform: translate(0, -50%);
                    //     -ms-transform: translate(0, -50%);
                            transform: translate(39%, -50%);
                  }
                  
                  & .bg:before, & .bg:after {
                    content: '';
                    height: 1px;
                    width: 6px;
                    background: $light-clr;
                    position: absolute;
                    right: -1px;      
                    -webkit-transition: all 0.3s;      
                    -o-transition: all 0.3s;      
                    transition: all 0.3s;
                  }
                  
                  & .bg:before {
                    bottom: 2px;
                    -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                  }
                  & .bg:after{
                    top: 2px;
                    -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                  }
                  
                  &:hover .bg:before,
                  &:hover .bg:after{
                    right: 0;
                  }
                  
                  &:hover .bg:before{
                    bottom: 6px;
                  }
                  
                  &:hover .bg:after{
                    top: 6px;
                  }
        }  
      }
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }