<div class="bg-dark text-white py-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center mb-3">
                <h2><i class="fas fa-running"></i>NeoFit</h2>
            </div>
            <div class="col-md-4 col-12 mb-5">
                <h4 class="mb-4 font-weight-bolder">About Us</h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-4 col-12 mb-5">
                <h4 class="mb-4 font-weight-bold">Contact Us</h4>
                <p class="ml-1"><i class="fas fa-phone-alt"></i> 0100-000-000</p>
                <p class="ml-1"><i class="far fa-envelope"></i> Neofit@gmail.com</p>
                <p class="ml-1"><i class="fas fa-map-marker-alt"></i> Adress St. Alexandria, Egypt</p>
                <p class="ml-1"><a [routerLink]="['/mentorApplication']">Be One of Our Mentors</a></p>
                <div class="row mt-2">
                    <a><i class="fab fa-facebook-f mx-3"></i></a>
                    <a><i class="fab fa-youtube mx-3"></i></a>
                    <a><i class="fab fa-twitter mx-3"></i></a>
                    <a><i class="fab fa-linkedin-in mx-3"></i></a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            Copywrite &#xa9; 2021
        </div>
    </div>
</div>
